:root{
    --secondaryCol: rgb(134, 135, 185);
    --darkerSecondaryCol: rgb(91, 92, 150);
}
/* Main Section  */
.mainSection{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* Category Items  */
.categoriesHome{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 5% 0 5%;
}
.allCats{
    display: flex;
    align-items: center;
    gap: 8px;
}
.allCats p, i{
    cursor: pointer;
}
.categoryIcons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 2%;
}
.categoryIcons a{
    text-decoration: none;
    color: black;
}
.catBox{
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    border-radius: 999px;
    transition: transform 0.5s ease,
    box-shadow 0.5s ease,
    background 0.5s ease,
    color 0.3s linear;
    &:hover{
        transform: translateY(-8px);
        box-shadow: 0 12px 30px rgba(76, 88, 196, 0.6);
        background: linear-gradient(105deg,rgb(153, 154, 214), rgb(59, 60, 122));
        color: white;
    }
}
.catBox img{
    height: 80px;
}
.catBox p{
    font-weight: 600;
}
/* Category Row Display */
.topCat1{
    width: 100%;
    padding: 2% 3% 0 3%;
    display: flex;
    flex-direction: column;
}
.topCat-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0 12px 0;
    & p{
        color: var(--darkerSecondaryCol);
        font-weight: 600;
        cursor: pointer;
        transition: transform 0.3s ease;
    }
    & p:hover{
        color: var(--secondaryCol);
        transform: translateY(-5px) scale(1.025);
    }
}
.cat1Flex, .cat2Flex, .cat3Flex, .cat4Flex{
    display: flex;
    gap: 12px;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 12px;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    padding: 5px;
}
.cat1Flex .ad, .cat2Flex .ad, .cat3Flex .ad, .cat4Flex .ad {
    scroll-snap-align: start;
    flex-shrink: 0;
}
.ad{
    max-width: 210px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 12px;
    background: white;
    border-radius: 12px;
    padding: 5px;
    box-shadow: 2px 5px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.ad:hover {
    background: rgb(207, 208, 231);
    transform: translateY(-3px);
    box-shadow: 5px 5px 20px rgba(0,0,0,0.3);
}
.ad img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    background: #f0f0f0;
}
.adName, .adLoc, .adTime, .adPrice{
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 200px;
    overflow: hidden;
    &:hover{
        color: rgb(100, 100, 100);
    }
}
/* Download OLX Container  */
.downloadOlx{
    width: 100%;
    height: 300px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 9.5% 3% 9.5% 3%;
}
.downloadOlx-head{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.downloadOlx-head p{
    font-size: 20px;
}
.downloadOlx-call{
    color: var(--secondaryCol);
    font-size: 35px !important;
    font-weight: 900;
}
.downloadOlx-btns{
    display: flex;
    gap: 15px;
}
.downloadOlx-btns a{
    text-decoration: none;
}
.downloadOlx-appstore button, .downloadOlx-googleplay button, .downloadOlx-appgallery button{
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 12px;
    background: black;
    color: white;
    font-size: 23px;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s ease, background 0.3s ease;
    &:hover{
        transform: translateY(-3px) scale(1.05);
        background: rgba(0, 0, 0, 0.8);
    }
}
.downloadOlx-appstore > button img, .downloadOlx-googleplay > button img, .downloadOlx-appgallery > button img{
    width: 30px;
    height: 30px;
    object-fit: cover;
}
.downloadOlx-btn-head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.downloadOlx-btn-head p{
    font-size: 12px;
}
.downloadOlx-btn-head b{
    font-size: 20px;
}
/* Apple Logo Fix */
.appleLogoFix{
    filter: invert(1);
}