*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}
:root{
    --secondaryCol: rgb(134, 135, 185);
    --darkerSecondaryCol: rgb(91, 92, 150);
}
/* Navbar */
.navbar{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding-top: 12px;
}
/* First Navbar */
.navbar-first{
    display: flex;
    width: 90%;
    justify-content: space-around;
    align-items: center;
    gap: 50%;
    background: rgb(230,230,230);
    border-radius: 999px;
    z-index: 999;
    padding: 8px;
}
.nav-leftshelf{
    display: flex;
    gap: 30px;
}
.motorBtn, .propertyBtn{
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    font-weight: 900;
    border-radius: 999px;
    padding: 6px;
    &:hover{
        background-color: rgb(211, 211, 211);
    }
    & img{
        width: 35px;
    }
}
.nav-rightshelf{
    display: flex;
    align-items: center;
    gap: 25px;
    & i, img{
        font-size: 25px;
    }
}
#shoppingCartNav{
    width: 40px !important;
    height: 40px !important;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 999px;
    padding: 5px;
    &:hover{
        background-color: var(--secondaryCol);
    }
}
.profileInfoNav{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
#profileDropdown{
    font-size: 20px !important;
}
#messageBoxNav, #notisBellNav{
    cursor: pointer;
    border-radius: 999px;
    width: 50px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover{
        background: var(--secondaryCol);
    }
}
/* Second Navbar */
.nav-second{
    width: 100%;
}
.filterInputs{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    width: 100%;
}
.locationFilter{
    display: flex;
    justify-content: space-between;
    width: 350px;
    height: 50px;
    border-radius: 999px;
    border: 2px solid var(--secondaryCol);
    padding: 3px;
    cursor: pointer;
}
.filterInputs-leftshelf{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.filterInputs-rightshelf{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--darkerSecondaryCol);
}
#locationPingIcon{
    color: var(--darkerSecondaryCol);
}
.locationFilterName{
    color: black;
    font-weight: 700;
}
/* Search Input Main */
.searchInputMainDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.searchInputMain{
    min-width: 600px;
    height: 50px;
    border-radius: 999px 0 0 999px;
    padding: 10px;
    border: 2px solid var(--secondaryCol);
    border-right: 0;
}
.searchInputMain:focus{
    outline: none;
}
.searchBtnClick{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 5px;
    font-size: 18px;
    font-weight: 700;
    width: 175px;
    height: 50px;
    background-color: var(--secondaryCol);
    border-radius: 0 999px 999px 0;
    transition: color 0.5s ease, font-size 0.5s ease;
}
.searchBtnClick:hover{
    color: rgb(230,230,230);
    font-size: 18.5px;
}
/*Sell Button*/
.sell-btn-wrapper {
    position: relative;
    display: inline-block;
    transition: transform 0.3s ease;
}
.sell-btn-wrapper:hover{
    transform: translateY(-3px) scale(1.05);
}
.sell-btn {
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 10px 22px;
    font-weight: 700;
    border-radius: 999px;
    background:
    linear-gradient(#fff, #fff) padding-box,
    linear-gradient(90deg, #ffc107, #00c6ff, #ffc107) border-box;
    background-size: 100% 100%, 300% 300%;
    border: 3px solid transparent;
    cursor: pointer;
    font-family: sans-serif;
    animation: borderMove 3s ease infinite;
    transition: opacity 0.5s ease, filter 0.5s ease, box-shadow 0.5s ease;
}
.sell-btn::before {
    content: "";
    position: absolute;
    inset: -6px;
    border-radius: 999px;
    background: linear-gradient(90deg, #ffc107, #00c6ff, #ffc107);
    background-size: 300% 300%;
    filter: blur(12px);
    opacity: 0.5;
    z-index: -1;
    animation: glowMove 3s ease infinite;
}
.sell-btn-wrapper:hover .sell-btn {
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
}
.sell-btn-wrapper:hover .sell-btn::before {
    opacity: 0.8;
    filter: blur(18px);
}
@keyframes borderMove {
    0% { background-position: 0% 50%, 0% 50%; }
    50%{ background-position: 0% 50%, 100% 25%; }
    100% { background-position: 0% 50%, 0% 50%; }
}

@keyframes glowMove {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
/* Main Section  */
.mainSection{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* Category Items  */
.categoriesHome{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 5% 0 5%;
}
.allCats{
    display: flex;
    align-items: center;
    gap: 8px;
}
.allCats p, i{
    cursor: pointer;
}
.categoryIcons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 2%;
}
.categoryIcons a{
    text-decoration: none;
    color: black;
}
.catBox{
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    border-radius: 999px;
    transition: transform 0.5s ease,
    box-shadow 0.5s ease,
    background 0.5s ease,
    color 0.3s linear;
    &:hover{
        transform: translateY(-8px);
        box-shadow: 0 12px 30px rgba(76, 88, 196, 0.6);
        background: linear-gradient(105deg,rgb(153, 154, 214), rgb(59, 60, 122));
        color: white;
    }
}
.catBox img{
    height: 80px;
}
.catBox p{
    font-weight: 600;
}
/* Category Row Display */
.topCat1{
    width: 100%;
    padding: 2% 3% 0 3%;
    display: flex;
    flex-direction: column;
}
.topCat-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0 12px 0;
    & p{
        color: var(--darkerSecondaryCol);
        font-weight: 600;
        cursor: pointer;
        transition: transform 0.3s ease;
    }
    & p:hover{
        color: var(--secondaryCol);
        transform: translateY(-5px) scale(1.025);
    }
}
.cat1Flex, .cat2Flex, .cat3Flex, .cat4Flex{
    display: flex;
    gap: 12px;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 12px;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    padding: 5px;
}
.cat1Flex .ad, .cat2Flex .ad, .cat3Flex .ad, .cat4Flex .ad {
    scroll-snap-align: start;
    flex-shrink: 0;
}
.ad{
    max-width: 210px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 12px;
    background: white;
    border-radius: 12px;
    padding: 5px;
    box-shadow: 2px 5px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.ad:hover {
    background: rgb(207, 208, 231);
    transform: translateY(-3px);
    box-shadow: 5px 5px 20px rgba(0,0,0,0.3);
}
.ad img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    background: #f0f0f0;
}
.adName, .adLoc, .adTime, .adPrice{
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 200px;
    overflow: hidden;
    &:hover{
        color: rgb(100, 100, 100);
    }
}
/* Download OLX Container  */
.downloadOlx{
    width: 100%;
    height: 300px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 9.5% 3% 9.5% 3%;
}
.downloadOlx-head{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.downloadOlx-head p{
    font-size: 20px;
}
.downloadOlx-call{
    color: var(--secondaryCol);
    font-size: 35px !important;
    font-weight: 900;
}
.downloadOlx-btns{
    display: flex;
    gap: 15px;
}
.downloadOlx-btns a{
    text-decoration: none;
}
.downloadOlx-appstore button, .downloadOlx-googleplay button, .downloadOlx-appgallery button{
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 12px;
    background: black;
    color: white;
    font-size: 23px;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s ease, background 0.3s ease;
    &:hover{
        transform: translateY(-3px) scale(1.05);
        background: rgba(0, 0, 0, 0.8);
    }
}
.downloadOlx-appstore > button img, .downloadOlx-googleplay > button img, .downloadOlx-appgallery > button img{
    width: 30px;
    height: 30px;
    object-fit: cover;
}
.downloadOlx-btn-head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.downloadOlx-btn-head p{
    font-size: 12px;
}
.downloadOlx-btn-head b{
    font-size: 20px;
}
/* Apple Logo Fix */
.appleLogoFix{
    filter: invert(1);
}
/* Footer */
