:root{
    --secondaryCol: rgb(134, 135, 185);
    --darkerSecondaryCol: rgb(91, 92, 150);
    --darkestSecondaryCol: rgb(16, 16, 61);
}
/* Filter Box */
.filtersProducts{
    display: flex;
    gap: 15px;
    align-items: flex-start;
    padding: 3% 0 0 3%;
}
.filters{
    background: linear-gradient(135deg, var(--secondaryCol), var(--darkestSecondaryCol));
    width: 300px;
    border-radius: 20px;
    padding: 12px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 8px;
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.7);
    /*Categories*/
    & h2{
        text-align: center;
    }
    & h4{
        font-weight: 700;
    }
    & p{
        color: white;
        transition: transform 0.38s ease;
        &:not(.noHover):hover{
            cursor: pointer;
            color: rgb(152, 152, 177);
            transform: translateY(-1px) scale(1.01);
        }
    }
    /*Price Filter*/
    & .priceRangeFilter{
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        gap: 8px;
        & input{
            border: none;
            max-width: 85px;
            text-overflow: ellipsis;
            white-space: none;
            padding: 5px;
            background: var(--darkerSecondaryCol);
            border-radius: 999px;
            color: white;
            cursor: pointer;
            transition: background 0.4s ease;
            &::placeholder{
                color: rgb(168, 172, 182);
                font-weight: 600;
            }
            &:not(.noHover):hover{
                background: rgb(119, 119, 172);
            }
        }
        & p{
            font-weight: 600;
        }
    }
}
.locationFilterProducts{
    background: rgba(134, 135, 185, 0.3);
    width: 180px;
    height: 40px;
    border-radius: 999px;
    display: flex;
    padding:0 15px 0 15px;
    align-items: center;
    justify-content: space-between;
    transition: background 0.3s ease;
    cursor: pointer;
    &:hover{
        background: rgba(134, 135, 185, 0.5);
    }
}
#productsListing{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.products-grid{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px 2% 20px 2%;
}
/* Listing Header */
.listing-header{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    padding: 0 3% 0 2.5%;
    & h2{
        color: var(--darkestSecondaryCol);
    }
    & p{
        font-weight: 500;
    }
}
/* Ads */
.ad{
    max-width: 210px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 12px;
    background: white;
    border-radius: 12px;
    padding: 5px;
    box-shadow: 2px 5px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.ad:hover {
    background: rgb(207, 208, 231);
    transform: translateY(-3px);
    box-shadow: 5px 5px 20px rgba(0,0,0,0.3);
}
.ad img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    background: #f0f0f0;
}
.adName, .adLoc, .adTime, .adPrice{
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 200px;
    overflow: hidden;
    &:hover{
        color: rgb(100, 100, 100);
    }
}